In [20]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import time
from selenium import webdriver
from splinter import Browser
executable_path = {"executable_path": "/Users/Norma/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [21]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
headlines_soup = bs(response.text, 'lxml')
headline = headlines_soup.find('div', class_ = 'content_title').text.strip()
print(headline)

NASA Invites Students to Name Mars 2020 Rover

In [22]:
news = headlines_soup.find('div', class_ = 'rollover_description_inner').text.strip()
print(news)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [23]:
url2 = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)


html = browser.html
soup = bs(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

import requests
import shutil
response = requests.get(img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    

from IPython.display import Image
Image(url='img.jpg')

In [26]:
featured_img_url = "https://www.jpl.nasa.gov" + img_url

In [27]:
featured_img_url

'https://www.jpl.nasa.govhttps://jpl.nasa.gov/spaceimages/images/wallpaper/PIA23345-640x350.jpg'

In [28]:
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)

In [29]:
weather_soup = bs(response.text, 'html.parser')

In [34]:
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('In'):
        mars_weather = tweet.text.strip()

In [35]:
print(mars_weather)

InSight sol 249 (2019-08-09) low -98.8ºC (-145.8ºF) high -26.0ºC (-14.8ºF)
winds from the SSE at 4.4 m/s (9.8 mph) gusting to 17.5 m/s (39.1 mph)
pressure at 7.60 hPapic.twitter.com/jDOsvHTwYg

In [36]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [37]:
mars_df = pd.read_html(url)
mars_df = (mars_df[0])

In [41]:
mars_df2=mars_df.iloc[:,[0,1]]
mars_df2

  Mars - Earth Comparison             Mars
0               Diameter:         6,779 km
1                   Mass:  6.39 × 10^23 kg
2                  Moons:                2
3      Distance from Sun:   227,943,824 km
4         Length of Year:   687 Earth days
5            Temperature:    -153 to 20 °C

In [43]:
mars_df2 = mars_df2.to_html(classes='mars')
table_data = mars_df2.replace('\n', ' ')
table_data

AttributeError: 'str' object has no attribute 'to_html'

In [15]:
post = {
    'headline': headline, 
    'news': news, 
    'featured': featured_img_url,
    'weather': mars_weather,
    'facts': table_data
}
collection.insert_one(post)

NameError: name 'headline' is not defined